asgiref 
bleach 
Django
django-ckeditor-5 
django-countries 
django-multipleselectfield
django-quill-editor 
django-summernote
Pillow 
six 
sqlparse 
typing_extensions 
webencodings 
gunicorn 
psycopg2-binary