{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <section class="pt-40">
      <div class="container">
        <div class="row y-gap-15 justify-between items-end">
          <div class="col-auto">
            <h1 class="text-30 fw-600">{{ tour.name }}</h1>
            <div class="row x-gap-20 y-gap-20 items-center pt-10">
              <div class="col-auto">
                <div class="row x-gap-10 items-center">
                  <div class="col-auto">
                    <div class="d-flex x-gap-5 items-center">
                      <i class="icon-placeholder text-16 text-light-1"></i>
                      <div class="text-15 text-light-1">{{ tour.description }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-40 js-pin-container">
      <div class="container">
        <div class="row y-gap-30">
          <div class="col-lg-8">
            <div class="relative d-flex justify-center overflow-hidden js-section-slider" data-slider-cols="base-1" data-nav-prev="js-img-prev" data-nav-next="js-img-next">
              <div class="swiper-wrapper">

              {% for image in tour.images.all %}
                <div class="swiper-slide">
                  <img src="{{ image.image.url }}" alt="image" class="rounded-4 col-12 h-full object-cover">
                </div>
              {% endfor %}


              </div>
              {% if tour.images.count > 1 %}
              <div class="absolute h-full col-11">

                <button class="section-slider-nav -prev flex-center button -blue-1 bg-white shadow-1 size-40 rounded-full sm:d-none js-img-prev">
                  <i class="icon icon-chevron-left text-12"></i>
                </button>

                <button class="section-slider-nav -next flex-center button -blue-1 bg-white shadow-1 size-40 rounded-full sm:d-none js-img-next">
                  <i class="icon icon-chevron-right text-12"></i>
                </button>

              </div>
              {% endif %}

            </div>
            <!-- Кнопки для переключения между разделами -->
            <div class="border-top-light mt-40 mb-40"></div>
            <div class="d-flex">
            <button onclick="showSection(1)" class="active button -dark-1 py-10 px-20 me-2 rounded-4 bg-blue-1 text-white">Программа</button>
            <button onclick="showSection(2)" class="button -dark-1 py-10 px-20 me-10 rounded-4 bg-blue-1 text-white">В стоимость включено</button>
            </div>

            <!-- Ваш файл шаблона, например, index.html -->
            <div id="section1" class="section active">
              <!-- Содержимое раздела 1 -->
                <h3 class="text-28 fw-500">Программа</h3>
                <div class="row x-gap-40 y-gap-40">
                  {% for day in tour.days.all %}
                  <div class="col-12">
                    <h3 class="text-22 fw-500">День {{ day.number }}</h3>
                    {{ day.description.html | safe }}
                  </div>
                  {% endfor %}
    
                </div>
            </div>

            <div id="section2" class="section">
              <!-- Содержимое раздела 2 -->
              <div class="mt-40 border-top-light">
                <div class="row x-gap-40 y-gap-40 pt-40">
                  <div class="col-12">
                    <h3 class="text-28 fw-500">Условия тура</h3>
                    {{ tour.inprice_description.html | safe }}
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="col-lg-4">
            <div class="d-flex justify-end js-pin-content">
              <div class="w-360 lg:w-full d-flex flex-column items-center">
                <div class="px-30 py-30 rounded-4 border-light bg-white shadow-4">
                  <div class="text-14 text-light-1">
                    Цена от:<span class="text-20 fw-500 text-dark-1 ml-5">{{ tour.price_usd }} долларов</span>
                    <br>
                    Цена от:<span class="text-20 fw-500 text-dark-1 ml-5">{{ tour.price_kgs }} сом</span>
                    <br>
                    Дней :<span class="text-20 fw-500 text-dark-1 ml-5">{{ tour.amount_days }}</span>
                    <br>
                    Ночей :<span class="text-20 fw-500 text-dark-1 ml-5">{{ tour.amount_nights }}</span>
                  </div>

                  <div class="row y-gap-20 pt-30">


                    <div class="col-12">

                      <div class="searchMenu-guests px-20 py-10 border-light rounded-4 js-form-dd js-form-counters">



                        <div class="searchMenu-guests__field shadow-2" data-x-dd="searchMenu-guests" data-x-dd-toggle="-is-active">
                          <div class="bg-white px-30 py-30 rounded-4">
                            <div class="row y-gap-10 justify-between items-center">
                              <div class="col-auto">
                                <div class="text-15 fw-500">Adults</div>
                              </div>

                              <div class="col-auto">
                                <div class="d-flex items-center js-counter" data-value-change=".js-count-adult">
                                  <button class="button -outline-blue-1 text-blue-1 size-38 rounded-4 js-down">
                                    <i class="icon-minus text-12"></i>
                                  </button>

                                  <div class="flex-center size-20 ml-15 mr-15">
                                    <div class="text-15 js-count">2</div>
                                  </div>

                                  <button class="button -outline-blue-1 text-blue-1 size-38 rounded-4 js-up">
                                    <i class="icon-plus text-12"></i>
                                  </button>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <a href="https://t.me/smanacalim" class="button -dark-1 py-15 px-35 h-60 col-12 rounded-4 bg-blue-1 text-white">
                        Забронировать сейчас
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  </main>

  

{% endblock %}