<!-- work_abroad_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
{% if work_abroads %}
<div class="d-flex">
  {% for work_abroad in work_abroads %}
  <div class="me-5">
    <div class="">
      <div class="cardImage ratio ratio-1:1 md:w-1/1 rounded-4">
        <div class="cardImage__content">
          <div class="cardImage-slider rounded-4 overflow-hidden js-cardImage-slider">
            <div class="swiper-wrapper">
              {% for image in work_abroad.images.all %}
                <div class="swiper-slide">
                  <img class="col-12 js-lazy" src="#" data-src="{{ image.image.url }}" alt="image">
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="row x-gap-10 items-center">
        <div class="col-auto">
          <p class="text-14 lh-14 mb-5">Страна: {{ work_abroad.country.name }}<br></p>
        </div>
        <div class="col-auto">
          <div class="size-3 rounded-full bg-light-1 mb-5"></div>
        </div>
      </div>
      <h3 class="text-18 lh-16 fw-500">{{ work_abroad.name }}</h3>
      <div class="text-14 lh-15 fw-500 mt-20">Заработная плата: {{ work_abroad.salery_min }} - {{ work_abroad.salery_max }} долларов</div>
      <div class="col-12">
        <a href="{% url 'work_abroad_detail' pk=work_abroad.pk %}" class="button -dark-2 py-15 px-35 h-60 col-12 rounded-4 bg-blue-1 text-white">Подробнее</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
    <p>Туры в данном направлении не найдены.</p>
{% endif %}
</div>
<br>
{% endblock %}
